# ranking模型融合

## 代码说明
- src2_001至src2_004：为特征工程代码

- src2_005: 为模型代码

- src2_006（即本文件）: 为模型融合代码

In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
data_dir = "./data/FT_Camp_2/"
inter_dir = "./inter_data_repo/2/"

In [8]:
# 预测目标用户
pred_users306 = pd.read_csv(data_dir + 'pred_users.csv')

In [3]:
siter = list(range(30))
print(siter)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [11]:
n = 30
tmps = pred_users306.copy()
for i in range(n):
    if i in siter:
        tmp = pickle.load(open(inter_dir + 'preds306_'+str(i)+'.p', 'rb'))
        tmps = pd.merge(tmps, pd.DataFrame(tmp, columns=[str(i)]), left_index=True, right_index=True)
# tmps['score'] = tmps[[str(i) for i in siter]].mean(1)
print(tmps.head())

   id         0         1         2         3         4         5         6  \
0   1  0.096201  0.094783  0.107610  0.098564  0.092951  0.100522  0.097177
1   2  0.040536  0.042131  0.047800  0.040228  0.037752  0.043628  0.046102
2   3  0.022559  0.028457  0.025274  0.032698  0.025277  0.022657  0.028622
3   4  0.177357  0.176696  0.159337  0.171970  0.168767  0.171735  0.181066
4   5  0.123636  0.124011  0.127051  0.124811  0.121239  0.120240  0.122980

          7         8  ...        20        21        22        23        24  \
0  0.118526  0.088573  ...  0.098094  0.084312  0.103677  0.091574  0.091808
1  0.040421  0.052717  ...  0.045588  0.040754  0.049707  0.046950  0.049195
2  0.019991  0.028144  ...  0.023478  0.029787  0.020062  0.029021  0.029891
3  0.160780  0.181180  ...  0.175233  0.164386  0.157094  0.176022  0.191746
4  0.129012  0.123555  ...  0.127176  0.116940  0.122812  0.124867  0.130060

         25        26        27        28        29
0  0.101945  0.096156  0.109467  0.092340  0.092007
1  0.045649  0.045959  0.040496  0.041365  0.039555
2  0.023104  0.026922  0.019474  0.024264  0.026789
3  0.155692  0.170204  0.165703  0.165336  0.164354
4  0.119232  0.116323  0.118192  0.117992  0.125646

[5 rows x 31 columns]

In [77]:
tmps['0_rank'] = tmps['0'].rank(method='min')

In [79]:
for i in siter:
    tmps[str(i)+'_rank'] = tmps[str(i)].rank(method='min')
tmps.head()

,id,0,1,2,3,4,5,6,7,8,...,20_rank,21_rank,22_rank,23_rank,24_rank,25_rank,26_rank,27_rank,28_rank,29_rank
0,1,0.096201,0.094783,0.107610,0.098564,0.092951,0.100522,0.097177,0.118526,0.088573,...,55244.0,46054.0,58218.0,50770.0,51353.0,56638.0,54059.0,60682.0,51786.0,50994.0
1,2,0.040536,0.042131,0.047800,0.040228,0.037752,0.043628,0.046102,0.040421,0.052717,...,16838.0,12514.0,19963.0,17327.0,19683.0,16010.0,16990.0,12351.0,13692.0,11782.0
2,3,0.022559,0.028457,0.025274,0.032698,0.025277,0.022657,0.028622,0.019991,0.028144,...,3254.0,5632.0,2123.0,5391.0,6193.0,2898.0,4613.0,1884.0,3413.0,4281.0
3,4,0.177357,0.176696,0.159337,0.171970,0.168767,0.171735,0.181066,0.160780,0.181180,...,82577.0,80129.0,78634.0,82556.0,85172.0,78056.0,81452.0,80658.0,80442.0,80087.0
4,5,0.123636,0.124011,0.127051,0.124811,0.121239,0.120240,0.122980,0.129012,0.123555,...,68823.0,64371.0,67080.0,67736.0,69849.0,65322.0,64440.0,64829.0,65192.0,67993.0

In [82]:
tmps['score_rank'] = tmps[[str(i)+'_rank' for i in siter]].sum(1)

In [83]:
# tmps['score_rank']

0        1656042.0
1         474787.0
2         123784.0
3        2439939.0
4        2010994.0
5         626911.0
6        1227116.0
7        2787638.0
8         175989.0
9        2608405.0
10       2610312.0
11       1186642.0
12       1449727.0
13        680048.0
14       1568081.0
15       2664681.0
16       1099891.0
17       2015835.0
18       1816436.0
19       1940521.0
20       1603406.0
21       1663536.0
22       1183074.0
23       2320820.0
24       2268097.0
25       2215044.0
26       1583686.0
27        439506.0
28       1114310.0
29       1697930.0
           ...
94625    1910997.0
94626    1088245.0
94627    1189203.0
94628     949707.0
94629    1102912.0
94630    2064677.0
94631    2385326.0
94632    1105950.0
94633    1358864.0
94634    1600225.0
94635    1679078.0
94636    1302323.0
94637    2822565.0
94638    2705438.0
94639     641255.0
94640    2455172.0
94641    2575639.0
94642    2300704.0
94643    1571571.0
94644    1260597.0
94645     507437.0
94646    2382476.0
94647    2518631.0
94648      55020.0
94649    2666251.0
94650    2526216.0
94651     277549.0
94652    2141984.0
94653    2212690.0
94654     880497.0
Name: score_rank, Length: 94655, dtype: float64

In [87]:
max_min_scaler = lambda x : (x-np.min(x))/(np.max(x)-np.min(x))
tmps['score'] = tmps[['score_rank']].apply(max_min_scaler)

In [88]:
preds = tmps[['id', 'score']]
preds.head()

   id     score
0   1  0.583204
1   2  0.167193
2   3  0.043578
3   4  0.859275
4   5  0.708210

In [89]:
thresh = 0.5
a = preds[preds['score']<thresh].shape[0]
b = preds[preds['score']>=thresh].shape[0]
print(a,b,a/(a+b),b/(a+b))

47382 47273 0.5005757751835613 0.49942422481643867

## 提交

In [90]:
import datetime
submit_dir = './submit/2/'
path_submit = submit_dir + 'submit'+ datetime.datetime.now().strftime("%Y-%m-%d-%H-%M-%S") +'.csv'
preds.to_csv(path_submit,columns = ['id', 'score'], index=False)

In [91]:
import xlab

In [92]:
print(path_submit)

./submit/2/submit2019-05-10-17-39-33.csv

In [95]:
# 提交您的结果 注意：请勿上传data/下的文件，
xlab.ftcamp.submit(path_submit)

请输入您提交或查询的对应赛事编号：
1:赛题1：企业收支数据预测
2:赛题2：基于收支记录判断借贷意愿
3:赛题3：短文本分析
4:赛题4：基于位置信息的服务推荐分析
5:赛题5：上市公司财务造假识别
（1/2/3/4/5）
 2

'该赛事今日提交次数已达到2次，请明日再提交'

In [94]:
# 查看历史提交结果
xlab.ftcamp.get_submit_hist()

请输入您提交或查询的对应赛事编号：
1:赛题1：企业收支数据预测
2:赛题2：基于收支记录判断借贷意愿
3:赛题3：短文本分析
4:赛题4：基于位置信息的服务推荐分析
5:赛题5：上市公司财务造假识别
（1/2/3/4/5）
 2

+---------+---------------------+----------+----------+
|   分数  |       提交时间      | 提交次数 |   原因   |
+---------+---------------------+----------+----------+
| 0.74062 | 2019-05-10 17:41:35 |    32    | 正常执行 |
| 0.74047 | 2019-05-10 14:29:55 |    31    | 正常执行 |
| 0.74056 | 2019-05-09 22:51:48 |    30    | 正常执行 |
| 0.73989 | 2019-05-09 20:59:21 |    29    | 正常执行 |
| 0.73808 | 2019-05-09 16:01:48 |    28    | 正常执行 |
| 0.44245 | 2019-05-09 15:39:10 |    27    | 正常执行 |
| 0.73745 | 2019-05-09 14:06:20 |    26    | 正常执行 |
| 0.73683 | 2019-05-08 23:50:13 |    25    | 正常执行 |
| 0.73583 | 2019-05-08 23:40:57 |    24    | 正常执行 |
| 0.73436 | 2019-05-08 23:31:03 |    23    | 正常执行 |
| 0.73535 | 2019-05-08 23:08:56 |    22    | 正常执行 |
| 0.73622 | 2019-05-08 09:59:35 |    21    | 正常执行 |
|  0.735  | 2019-05-07 23:00:35 |    20    | 正常执行 |
| 0.72744 | 2019-05-07 22:46:23 |    19    | 正常执行 |
| 0.73565 | 2019-05-07 22:37:14 |    18    | 正常执行 |
| 0.73446 | 2019-05-07 22:26:57 |    17    | 正常执行 |
| 0.73571 | 2019-05-07 13:57:17 |    16    | 正常执行 |
| 0.73514 | 2019-05-06 21:59:12 |    15    | 正常执行 |
| 0.72701 | 2019-05-06 21:45:25 |    14    | 正常执行 |
| 0.72688 | 2019-05-06 20:58:09 |    13    | 正常执行 |
| 0.72754 | 2019-05-06 20:36:44 |    12    | 正常执行 |
| 0.72756 | 2019-05-06 15:42:54 |    11    | 正常执行 |
| 0.72639 | 2019-05-05 23:50:04 |    10    | 正常执行 |
| 0.72746 | 2019-05-05 23:38:32 |    9     | 正常执行 |
|  0.7226 | 2019-05-05 22:50:12 |    8     | 正常执行 |
| 0.71058 | 2019-05-05 14:04:31 |    7     | 正常执行 |
| 0.70879 | 2019-05-04 23:57:22 |    6     | 正常执行 |
| 0.66755 | 2019-05-04 23:43:41 |    5     | 正常执行 |
| 0.66064 | 2019-05-04 21:53:37 |    4     | 正常执行 |
| 0.59261 | 2019-05-04 21:07:34 |    3     | 正常执行 |
|    0    | 2019-04-24 11:37:26 |    2     | 正常执行 |
|    0    | 2019-04-24 11:02:43 |    1     | 正常执行 |
+---------+---------------------+----------+----------+